//colors
$white-basic: #ffffff;
$grey-basic: #bdbdbd;
$black-basic: #333333;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavander-latte: #eae6fc;
$espresso: #e5e6e8;
$primary-color: #7859cf;
$sub-color: #f0ebff;
$primary-color-lighter: #9070ec;
$primary-color-darker: #593cac;
$primary-color-opacity: rgba(120, 89, 207, 0.25);
